.banner-protocolo {
  background: #f4f4f7;
  padding-top: 32px;
  padding-bottom: 32px;
  .container {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    @include tablet {
      justify-content: flex-start;
      align-items: center;
    }
  }
  &__text {
    p {
      font-size: 18px;
      line-height: 24px;
      font-family: $primary-text;
      color: $gris;
      display: inline-block;
      text-align: center;
      margin-bottom: 24px;
      @include tablet {
        font-size: 24px;
        line-height: 36px;
        text-align: left;
        margin-bottom: 0px;
      }
    }
    @include tablet {
      width: col(17, 32);
      margin-left: col(1, 32);
    }
  }
  &__button {
    .btn-red {
      padding: 16px 24px;
      border-radius: 4px;
      font-family: $primary-text;
      font-weight: 700;
      font-size: 16px;
      line-height: 144%;
      letter-spacing: 0.336px;
      text-transform: uppercase;
      display: block;
      margin-left: auto;
      margin-right: auto;
      @include tablet {
        padding: 16px 70px;
      }
    }
  }
}
