.hero-desafio {
  margin: 0 auto;
  color: white;
  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  position: relative;
  overflow: hidden;
  border-bottom: 1px solid #aeb9d8;
  padding-bottom: 64px;
}
.hero-desafio a {
  font-weight: 700;
}
@media only screen and (max-width: 320px) {
  .hero-desafio {
    padding-bottom: 32px;
  }
}
@media only screen and (min-width: 745px) {
  .hero-desafio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
    background-color: #252a2e;
    padding-bottom: 0px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 0px;
  }
}
.hero-desafio img {
  width: 100%;
  height: auto;
  margin-top: 74px;
  margin-bottom: 48px;
}
@media only screen and (max-width: 320px) {
  .hero-desafio img {
    margin-bottom: 32px;
  }
}
@media only screen and (min-width: 745px) {
  .hero-desafio img {
    margin-top: 0px;
    margin-bottom: 0px;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
  }
}
.hero-desafio .overlay {
  display: none;
}
@media only screen and (min-width: 745px) {
  .hero-desafio .overlay {
    display: block;
    background: #000;
    background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.815861)), color-stop(48%, rgba(27, 27, 28, 0.701015)), color-stop(75%, rgba(16, 16, 17, 0)));
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.815861) 0%, rgba(27, 27, 28, 0.701015) 48%, rgba(16, 16, 17, 0) 75%);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
  }
}
.hero-desafio .container {
  margin: 0 auto;
  max-width: 1350px;
  width: 100%;
  position: relative;
  z-index: 5;
  @include mobile {
    width: 84%;
    max-width: 480px;
  }
}
@media only screen and (min-width: 745px) {
  .hero-desafio .container {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: col(2, 32);
    padding-right: col(2, 32);
  }
}
.hero-desafio h3,
.hero-desafio h2 {
  color: #3f464b;
  text-align: left;
}
@media only screen and (min-width: 745px) {
  .hero-desafio h3,
  .hero-desafio h2 {
    color: white;
    max-width: 760px;
    margin: 0;
  }
}
.hero-desafio h3 {
  margin-bottom: 12px;
  font-size: 16px;
}
@media only screen and (min-width: 745px) {
  .hero-desafio h3 {
    font-size: 24px;
    line-height: 156%;
    letter-spacing: 0.6px;
  }
}
.hero-desafio h2 {
  line-height: 120%;
  font-size: 32px;
  font-weight: 300;
  font-family: $primary-text;
  margin-bottom: 24px;
  letter-spacing: -0.6px;
}
@media only screen and (min-width: 745px) {
  .hero-desafio h2 {
    font-size: 40px;
  }
}
.hero-desafio h2 strong {
  font-weight: 700;
}
@media only screen and (max-width: 320px) {
  .hero-desafio h2 strong {
    display: block;
  }
}
@media only screen and (min-width: 745px) {
  .hero-desafio h2 strong {
    display: block;
  }
}
.hero-desafio button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-weight: 700;
  font-family: $primary-text;
  letter-spacing: 0.6px;
  cursor: pointer;
  font-weight: 700;
}
