.contenido-preparate{
    padding: 60px 0px;
    .container{
        padding: 0 get-column-width(3,31);
        display: flex;

        .contenido{
            width: get-column-width(25,25);
            display: flex;
            flex-flow: column;
            align-items: center;
            justify-content: center;
            @include tablet{
                width: get-column-width(7,25);
                margin-left: get-column-width(2,25);


            }
            &:nth-child(1){
                margin-left: 0;
            }
            .icon{
                width: get-column-width(3,7);
                display: flex;
                align-items: center;
                justify-content: center;
                img{
                    width: auto;
                    height: 90px;
                }

            }
            .text{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-flow: column;
                max-width: 238px;
                h3{
                    font-size: 24px;
                    text-align: center;
                    letter-spacing: -0.8px;
                    margin: 30px 0px;

                }
                p{
                    font-size: 16px;
                    text-align: center;
                    letter-spacing: -0.2px;
                    line-height: 20px;
                    margin-bottom: 30px;;

                }
                a{
                    text-align: center;

                }

                .btn-primary{
                    width: get-column-width(13,13);
                    background-color: $primary;
                    color: white;
                    cursor: pointer;
                    margin-top: 10px;
                    @include tablet{
                        margin-top: 0px;
                        margin: 0 auto;
    
    
                    }
    
                    &:hover{
                        background-color:#e62479;
                    }
                }
            }


        }
    }
}