.team {
  background: #ea5b0c;
  padding-top: 48px;
  padding-bottom: 48px;
  .container {
    display: flex;
    flex-flow: wrap;
    align-items: center;
  }
  &__title {
    font-size: 32px;
    line-height: 120%;
    color: white;
    font-family: $primary-text;
    font-weight: 700;
    margin-bottom: 32px;
    @include tablet {
      margin-bottom: 0;
      font-size: 72px;
      width: col(11, 32);
      margin-right: col(2, 32);
    }
  }
  &-carousel {
    .owl-prev {
      left: -64px;
      &::before {
        content: '';
        background-image: url("data:image/svg+xml,%3Csvg width='15' height='10' viewBox='0 0 15 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.1814 3.98863H2.62458L5.31552 1.31072C5.61578 1.01188 5.61694 0.526229 5.31809 0.225969C5.01925 -0.0743295 4.53356 -0.0754414 4.2333 0.223361L0.225335 4.212C-0.074158 4.51084 -0.0758071 4.99879 0.224568 5.29863L4.23322 9.288C4.53345 9.58676 5.01914 9.58573 5.31802 9.28539C5.61686 8.98513 5.61571 8.49947 5.31545 8.20063L2.62458 5.52272H14.1814C14.6051 5.52272 14.9485 5.17932 14.9485 4.75568C14.9485 4.33204 14.6051 3.98863 14.1814 3.98863Z' fill='%23482C1B'/%3E%3C/svg%3E");
        width: 15px;
        height: 10px;
        display: inline-block;
        background-size: cover;
        background-repeat: no-repeat;
      }

      &.disabled {
        &::before {
          content: '';
          background-image: url("data:image/svg+xml,%3Csvg width='15' height='10' viewBox='0 0 15 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.1814 3.98863H2.62458L5.31552 1.31072C5.61578 1.01188 5.61694 0.526229 5.31809 0.225969C5.01925 -0.0743295 4.53356 -0.0754414 4.2333 0.223361L0.225335 4.212C-0.074158 4.51084 -0.0758071 4.99879 0.224568 5.29863L4.23322 9.288C4.53345 9.58676 5.01914 9.58573 5.31802 9.28539C5.61686 8.98513 5.61571 8.49947 5.31545 8.20063L2.62458 5.52272H14.1814C14.6051 5.52272 14.9485 5.17932 14.9485 4.75568C14.9485 4.33204 14.6051 3.98863 14.1814 3.98863Z' fill='white'/%3E%3C/svg%3E");
          width: 15px;
          height: 10px;
          display: inline-block;
          background-size: cover;
          background-repeat: no-repeat;
        }
      }
    }

    .owl-next {
      right: -64px;
      &::before {
        content: '';
        background-image: url("data:image/svg+xml,%3Csvg width='15' height='10' viewBox='0 0 15 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.753887 5.42736L12.1112 5.42736L9.46669 8.05903C9.17161 8.35271 9.17048 8.82998 9.46416 9.12505C9.75784 9.42017 10.2352 9.42126 10.5302 9.12762L14.469 5.20785C14.7633 4.91417 14.7649 4.43464 14.4697 4.13998L10.5303 0.219505C10.2353 -0.0741009 9.75796 -0.0730834 9.46424 0.222066C9.17056 0.517142 9.17169 0.994411 9.46677 1.28809L12.1112 3.91976L0.753887 3.91976C0.337562 3.91976 8.5322e-05 4.25724 8.52856e-05 4.67356C8.52492e-05 5.08988 0.337562 5.42736 0.753887 5.42736Z' fill='%23482C1B'/%3E%3C/svg%3E");
        width: 15px;
        height: 10px;
        display: inline-block;
        background-size: cover;
        background-repeat: no-repeat;
      }

      &.disabled {
        &::before {
          content: '';
          background-image: url("data:image/svg+xml,%3Csvg width='15' height='10' viewBox='0 0 15 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.753886 5.42736L12.1112 5.42736L9.46669 8.05903C9.17161 8.35271 9.17048 8.82998 9.46416 9.12506C9.75785 9.42017 10.2352 9.42126 10.5302 9.12762L14.469 5.20786C14.7633 4.91418 14.7649 4.43464 14.4697 4.13998L10.5303 0.219506C10.2353 -0.0740997 9.75796 -0.0730828 9.46424 0.222068C9.17056 0.517143 9.17169 0.994412 9.46677 1.28809L12.1112 3.91976L0.753886 3.91976C0.337562 3.91976 8.5713e-05 4.25724 8.56766e-05 4.67356C8.56402e-05 5.08988 0.337562 5.42736 0.753886 5.42736Z' fill='white'/%3E%3C/svg%3E");
          width: 15px;
          height: 10px;
          display: inline-block;
          background-size: cover;
          background-repeat: no-repeat;
        }
      }
    }

    .owl-nav {
      max-width: 1184px !important;
      margin-left: auto !important;
      margin-right: auto !important;
      position: absolute !important;
      top: 35%;
      width: 100%;
      @include mobile {
        top: -95px;
        left: 0px !important;
        max-width: 480px;
        width: 84%;
      }
    }

    .owl-prev,
    .owl-next {
      position: absolute;
      width: 48px;
      height: 48px;
      border-radius: 50% !important;
      border: 1px solid #fcc74f !important;
      background: #fcc74f !important;

      &::before {
        position: relative;
        top: 11px;
      }

      &.disabled {
        border-color: #ffffff !important;
        background: transparent !important;
      }

      span {
        width: 48px;
        height: 48px;
        display: block;
        color: transparent;
      }
    }
    @include tablet {
      width: col(19, 32);
    }
    background-color: #fff;
    padding: 24px;
    &__item {
      display: flex;
      flex-flow: wrap;
      justify-content: space-between;
      align-items: center;

      &__img {
        width: 100%;
        height: 100%;
        height: 200px;
        background-size: cover !important;
        background-position: top center !important;
        @include tablet {
          width: col(7.5, 19);
          height: 330px;
          background-position: center !important;
        }
        img {
          width: 100%;
          height: 100%;
          display: block;
          object-fit: cover;
        }
      }
      &__text {
        width: 100%;
        @include tablet {
          width: col(9, 19);
          margin-right: col(1, 19);
        }
        &__title {
          color: $grisOscuro;
          font-size: 24px;
          line-height: 160%;
          font-family: $primary-text;
          margin-top: 24px;
          @include tablet {
            font-size: 28px;
            line-height: 160%;
          }
          strong {
            font-weight: 700;
          }
        }
        &__job {
          color: $grisOscuro;
          font-size: 10px;
          line-height: 160%;
          letter-spacing: 1px;
          text-transform: uppercase;
          font-family: $primary-text;
          font-weight: 700;
          margin-bottom: 24px;
        }
        &__bio p {
          height: 200px;
          overflow-y: auto;
          font-size: 14px;
          line-height: 160%;
          color: $grisOscuro;
          font-family: $primary-text;
        }
      }
    }
  }
}
