$primary: rgb(212, 3, 94);
$primaryButton: #d4035e;
$primaryHover: #e62479;
$gris: #3f464b;
$grisOscuro: #0d1346;
$grisClaro: #d8deee;
$breakpoint-tablet: 744px;
$breakpoint-desktop: 1240px;

$primary-text: 'Poppins', Arial, Helvetica, sans-serif;
$secondary-text: 'Poppins', Arial, Helvetica, sans-serif;
